@import url("../../functions/css/reset.css");
@import url("../../functions/css/font.css");
@import url("../../functions/css/flex.css");
@import url("../../functions/css/table-template.css");

.swal2-title {
  font-size: 20px;
  line-height: 2.2rem;
}
.swal2-cancel {
  background: #eb0050 !important;
}
.swal2-cancel:hover {
  background: #a80139 !important;
}
.swal2-confirm {
  background: #34771b !important;
}
.swal2-confirm:hover {
  background: #204a11 !important;
}
.swal2-cancel,
.swal2-confirm {
  padding: 0.625rem 2.1rem;
  transition: 0.3s;
}
.swal2-cancel:focus,
.swal2-confirm:focus {
  box-shadow: none !important;
}

.new-item-table {
  background: none;
  border: none;
}
.new-item-table:hover {
  background: none;
  border: none;
}
.new-item-table select {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0 0.5rem;
}
.new-item-table select:focus {
  outline: none;
}

#searchTitle {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  padding-right: 0.5rem;
}
.filter-item-table {
  border: none;
}
.filter-item-table button {
  border-radius: 4px;
  color: #fff;
  background-color: #286090;
  border-color: #007bff;
  transition: 0.3s;
}
.filter-item-table button:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

td img {
  height: 50px;
  width: 50px;
  transform: translateY(12px);
}

.see-item-table {
  color: #fff;
  background-color: #286090;
  border-color: #007bff;
}
.see-item-table:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

@media only screen and (max-width: 770px) {
  td,
  .btn-item-table button {
    font-size: 11px;
  }
}

@media only screen and (max-width: 570px) {
  .btn-item-table button,
  td {
    font-size: 10px;
  }
}
