@import url("../../CMS-dayanShop/functions/css/font.css");
@import url("../functions/css/header.css");
@import url("../functions/css/footer.css");
html {
  overflow-x: hidden;
  overflow-y: var(--wait-load, scroll);
}

body {
  overflow-x: hidden;
  align-items: stretch !important;
}

:root {
  --color-text-nav-light: #4444;
  --color-icon-light: #666;
  --color-white: #fff;
  --background-red: #ff5252d1;
  --color-h1-header: #444;
  --color-shadow-gray: #bdbdbd;
  --color-blue-black-bg: #363a5df7;
  --color-gray-less-opa: #f5f5f5;
}

* {
  font-family: "vazir";
  /* color: #424242; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

.contain-image-same img {
  height: 100%;
}

.contain-image-same {
  height: 270px;
  width: 210px;
}

.preloader-change-page {
  height: 100%;
  width: 170px;
  z-index: 2;
}

.fake-background-load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #292f34a3;
}

.contain-pre-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 111;
}

.contain-back-topage {
  cursor: pointer;
  gap: 1rem;
  color: var(--color-icon-light);
  justify-content: flex-end;
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-size: 21px;
  /* font-size: 21px; */
}

.contain-page-shop {
  width: 100%;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  grid-column: 1/-1;
  justify-content: flex-start;
}

.text-back-topage {
  order: -1 !important;
}

button {
  cursor: pointer;
}

.section-modal-handle {
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 2rem 1rem;
  top: -37%;
  z-index: 11111;
}

.contain-size-error {
  position: absolute;
  padding: 2rem 6rem;
  background: #d56177;
  border-radius: 7px;
  color: #fff;
  transition: 0.3s;
}

.list-page-shop {
  padding-left: 1.2rem;
}

.icon-page-shop {
  transform: rotate(90deg);
  margin-right: 10px;
  color: #bdbdbd;
}

.link-page-shop {
  font-size: 14px;
  color: #757575;
}

.contail-info-product {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 1.5rem;
  margin: 3rem 1rem;
  border: 1px solid var(--color-shadow-gray);
  cursor: default;
}

.contain-image-info {
  flex-wrap: nowrap;
  grid-column: 1/5;
  grid-row: 2/3;
  gap: 1.5rem;
}

.contain-more-info,
.contain-vender-product,
.contain-introduce-product {
  justify-content: space-between;
  padding: 1.5rem 0;
}

.contain-more-info {
  border-bottom: 1px solid var(--color-shadow-gray);
  gap: 3rem;
}

.call-vender-info {
  order: 1;
}

.contain-text-info {
  padding-right: 1.5rem;
  grid-column: 5/-1;
}

.contain-model-product {
  align-items: baseline;
}

.title-model-product {
  padding-bottom: 0.5rem;
  color: var(--color-h1-header);
  font-size: 20px;
}

.btn-call-product {
  background-color: var(--background-red);
  border-radius: 32px;
  margin-top: 0.6rem;
  padding: 0.5rem 0.8rem;
  border: none;
  color: var(--color-white);
}

.icon-call-product {
  margin: 0 0.2rem;
}

.icon-star-product:nth-child(1),
.icon-star-product:nth-child(2) {
  direction: ltr;
  color: #3f51b5;
}

.star-product-info {
  direction: ltr;
}

.icon-star-product {
  color: var(--color-icon-light);
  font-size: 18px;
  margin: 2px;
}

.contain-vender-product {
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-shadow-gray);
  border-top: 1px solid var(--color-shadow-gray);
}

.share-info-product {
  color: var(--color-shadow-gray);
}

.kind-model-product {
  color: var(--color-h1-header);
}

.name-model-product {
  color: var(--color-icon-light);
}

.text-brand-product,
.title-vender-product,
.icon-shop-product {
  color: var(--color-h1-header);
  padding-left: 0.4rem;
}

.text-brand-product {
  gap: 0.4rem;
}

.title-brand-product {
  padding-left: 0.4rem;
}

.name-vender-product,
.name-brand-product {
  color: var(--color-icon-light);
}

.kind-nature-product {
  font-size: 12px;
  display: block;
  margin-right: 0.4rem;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  background-color: #fb8c00;
  color: var(--color-white);
}

.icon-particular-product {
  font-size: 14px;
  color: var(--color-icon-light);
  margin-left: 0.3rem;
}

.text-particular-product {
  font-size: 16px;
  color: var(--color-icon-light);
  font-weight: 200;
}

.contain-services-product {
  align-items: baseline;
  gap: 1.5rem;
  background-color: #e0e0e07f;
  padding: 1.5rem 1.2rem;
  border-radius: 7px;
}

.text-service-info {
  font-size: 14px;
  color: var(--color-h1-header);
}

.contain-particulars-product {
  align-items: baseline;
  gap: 0.3rem;
}

.icon-service-product {
  padding-left: 2rem;
  font-size: 18px;
  width: 25px;
  color: var(--color-h1-header);
}

.service-product-info {
  width: 100%;
  justify-content: flex-start;
  color: var(--color-h1-header);
}

#icon-day-product {
  position: relative;
  font-size: 22px;
}

#icon-day-product::after {
  position: absolute;
  content: "3";
  right: 7px;
  font-size: 12px;
  color: #fff;
  top: 9px;
}

.contain-product-sizes {
  margin-top: 2.5rem;
  justify-content: flex-start;
  gap: 2rem;
}

.contain-number-size {
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-shadow-gray);
  border-radius: 100%;
  transition: 0.3s;
  cursor: pointer;
}

.contain-number-size:hover {
  background: #5da0d9;
  color: #fff;
  box-shadow: 1px 1px 7px #9f9898f5;
}

.select-size {
  background: #5da0d9;
  color: #fff;
  box-shadow: 1px 1px 7px #9f9898f5;
}

.number-size-product {
  font-size: 13px;
}

.contain-financial-product {
  margin-top: 2rem;
  padding: 1rem 0;
  justify-content: space-between;
}

.price-product-info {
  word-spacing: 0.2rem;
  color: var(--background-red);
  font-size: 24px;
}

.add-to-basket {
  background-color: var(--background-red);
  border-radius: 32px;
  height: 2.7rem;
  width: 160px;
  margin-left: 1rem;
  color: var(--color-white);
  font-size: 16px;
}

.contain-images-product {
  position: relative;
  order: 1;
}

.contain-images-product img {
  filter: brightness(1.3) saturate(1.8) contrast(1.1);
}

.contain-slider-product {
  height: 100%;
  justify-content: flex-start;
}

.contain-images-product {
  width: 400px;
}

.mini-box-image {
  cursor: pointer;
  width: 70px;
}

.border-mini-image {
  outline: 1px solid var(--color-shadow-gray);
  outline-offset: 5px;
}

.contain-slider-product {
  gap: 0.8rem;
}

.contain-table-product {
  padding: 0 1.5rem;
}

.contain-title-table {
  width: 100%;
  gap: 10px;
}

.title-table-product {
  flex-grow: 1;
  padding: 0.5rem 0;
  background-color: var(--color-gray-less-opa);
  cursor: pointer;
}

.title-table-link {
  color: var(--color-icon-light);
  font-size: 16px;
}

.title-table-product:nth-child(1) {
  background-color: var(--color-blue-black-bg);
}

.title-table-product:nth-child(1) a {
  color: var(--color-white);
}

.text-title-product {
  position: relative;
  align-self: self-start;
  margin-top: 2rem;
  font-size: 11px;
  color: var(--color-icon-light);
}

.text-title-product::before {
  content: "";
  position: absolute;
  width: 50%;
  top: 8px;
  height: 100%;
  border-bottom: 1px solid var(--color-shadow-gray);
}

.box-table-product {
  margin-top: 2rem;
  width: 100%;
}

.row-table-product {
  width: 100%;
  justify-content: flex-start;
  gap: 25%;
  padding: 1rem 1.5rem;
}

.row-table-product:nth-child(odd) {
  background-color: var(--color-gray-less-opa);
}

.row-table-product * {
  font-size: 15px;
}

.content-particular-product {
  color: var(--color-icon-light);
}

.title-particular-product {
  color: var(--color-h1-header);
  flex-basis: 80px;
  justify-content: flex-start;
}

.title-other-products {
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.section-other-products {
  padding: 4rem 1rem;
}

.text-other-products {
  font-size: 20px;
  color: var(--color-icon-light);
}

.section-other-products {
  position: relative;
  background-color: unset;
}

.contain-other-products {
  position: relative;
}

.contain-box-other {
  gap: 1.5rem;
  position: relative;
  transition: all 0.5s;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  overflow: auto;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  /* overflow-x: scroll; */
}

.contain-box-other::-webkit-scrollbar {
  /* display: none; */
  height: 5px;
  width: 100px;
  margin: 10px 0;
  background-color: var(--color-shadow-gray);
}

.contain-box-other::-webkit-scrollbar-thumb {
  /* margin: 10px 0; */
  /* background-color: red; */
  background-color: var(--color-text-nav-light);
}

.icon-box-right,
.icon-box-left,
.contain-image-left,
.contain-image-right {
  position: absolute;
  z-index: 2;
  color: var(--color-shadow-gray);
}

.icon-box-right,
.icon-box-left {
  bottom: 50%;
  font-size: 45px;
}

.icon-box-right {
  transform: rotate(270deg);
  right: -6px;
  cursor: pointer;
}

.icon-box-left {
  transform: rotate(90deg);
  left: -6px;
  cursor: pointer;
}

.contain-image-right {
  display: none;
  transform: rotate(270deg);
  right: 0;
}

.contain-image-left {
  display: none;
  transform: rotate(90deg);
  left: 0;
}

.contain-images-product {
}

.product-box-shop {
  position: relative;
  cursor: pointer;
  /* flex-basis: 240px; */
  min-width: 244px;
  outline: 1px solid var(--color-shadow-gray);
  outline-offset: -1px;
  border-radius: 10px;
  padding: 1.5rem 0;
  transition: 0.3s;
  flex-grow: 1;
  gap: 1rem;
}

.product-box-shop::after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-bottom: 16px solid var(--background-red);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  bottom: 0;
  transition: 0.3s;
}

.product-box-shop:hover {
  outline: none;
}

.product-box-shop:hover img {
  transform: scale(1.05);
}

.product-box-shop:hover::after {
  opacity: 1;
  visibility: visible;
}

.text-model-product {
  display: flex;
  gap: 1rem;
}

.price-product-shop {
  color: var(--background-red);
  font-size: 16px;
  margin-bottom: 1rem;
}

.alert-product-situation {
  display: var(--alert-product-situation, none);
  background-color: #ef308052;
  width: 58%;
  padding: 45px;
  margin: 6rem auto;
  /* height: 150px; */
  border: 2px solid #dd5bbbe0;
  border-radius: 11px;
}

.alert-error-product {
  color: #af3a55d9;
  font-size: 22px;
}

@media only screen and (max-width: 975px) {
  .contain-back-topage {
    font-size: 21px;
    justify-content: center;
    margin-left: 0;
  }
}

@media only screen and (max-width: 950px) {
  .contain-image-right,
  .contain-image-left {
    display: block;
    bottom: 0;
  }
  .contain-text-info {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
  .contain-image-info {
    grid-column: 1/-1;
    grid-row: 3/4;
    padding-top: 3rem;
  }
  .contain-vender-product {
    gap: 0.5rem;
  }
  .contain-more-info {
    flex-direction: column;
  }
  .contain-particulars-product {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .contain-services-product {
    width: 100%;
    background: none;
  }
  .service-product-info {
    padding: 1rem;
    background-color: #e0e0e07f;
    border-radius: 20px;
    align-items: baseline;
    justify-content: center;
    gap: 0.8rem;
  }
  .text-service-info {
    width: 150px;
    display: flex;
  }
  .contain-slider-product {
    display: none;
  }
}

@media only screen and (max-width: 813px) {
  .product-box-shop {
    min-width: 100%;
  }
  .contain-box-other {
    width: 100%;
  }
  .contain-image-same {
    height: 350px;
    width: 400px;
  }
}

@media only screen and (max-width: 810px) {
  .contain-particulars-product {
    flex-direction: column;
  }
  .particular-product-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1rem;
  }
  i.icon-particular-produc {
    display: flex;
    align-items: center;
  }
  .contain-vender-product {
    flex-direction: column;
    gap: 1.5rem;
  }
  .price-product-info,
  .title-model-product,
  .price-shoe-shop,
  .add-to-basket,
  .title-finally-menu {
    font-size: 16px;
  }
  span:not(.text-back-topage),
  .title-table-link {
    font-size: 14px;
  }
}

@media only screen and (max-width: 639px) {
  .alert-error-product {
    font-size: 19px;
  }
  .alert-product-situation {
    width: 80%;
    padding: 25px;
  }
  .contain-back-topage {
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .contain-introduce-product {
    flex-direction: column;
    gap: 3rem;
  }
}

@media only screen and (max-width: 460px) {
  .contain-financial-product {
    flex-direction: column;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 358px) {
  .service-product-info {
    gap: 1rem;
  }
  .text-service-info {
    justify-content: center;
    align-items: center;
  }
}
