@import url("../../CMS-dayanShop/functions/css/font.css");

html {
  overflow-x: hidden;
  overflow-y: var(--wait-load, scroll);
}

body {
  overflow-x: hidden;
  align-items: stretch !important;
}

:root {
  --color-text-nav-light: #4444;
  --color-icon-light: #666;
  --color-white: #fff;
  --background-red: #ff5252d1;
}

.flex-center-column {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
}

* {
  font-family: "vazir";
  /* color: #424242; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  direction: rtl;
}

.grid-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: center;
  text-align: center;
}

img {
  width: 100%;
}

.info-search-hearde {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contain-pre-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 111;
}

.preloader-change-page {
  height: 100%;
  width: 170px;
  z-index: 2;
}

.display-none {
  display: none;
}

#all {
  /* filter: blur(5px); */
}

.fake-background-load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #292f34a3;
}

.alert-product-situation {
  display: var(--alert-product-situation, none);
  background-color: #ef308052;
  width: 58%;
  padding: 45px;
  margin: 6rem auto;
  /* height: 150px; */
  border: 2px solid #dd5bbbe0;
  border-radius: 11px;
}

#all .hidden-for-situation {
  display: var(--hidden-for-situation, block);
}

.alert-error-product {
  color: #af3a55d9;
  font-size: 22px;
}

.contain-accessibility-header {
  padding: 1rem 0;
  justify-items: baseline;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-auto-rows: 100px;
  align-items: center;
  direction: ltr;
}

.menu-bar-header {
  display: none;
}

.basket-user-header {
  cursor: pointer;
  background-color: var(--background-red);
  border-radius: 32px;
  height: 2.7rem;
  width: 160px;
  margin-left: 1rem;
  justify-content: space-evenly;
}

.basket-text-header {
  color: var(--color-white);
  font-size: 14px;
}

.icon-basket-header {
  color: var(--color-white);
  font-size: 14px;
}

.enter-user-header {
  margin-left: 1rem;
}

.enter-text-header77 {
}

.search-box-header {
  grid-column: span 1;
  position: relative;
  justify-self: stretch;
}

#search-input-header {
  width: 100%;
  height: 3rem;
  border-radius: 35px;
  padding-right: 1rem;
  border: 1px solid #999;
  outline: none;
}

#search-input-header::placeholder {
  color: #999;
}

.icon-search-header {
}

.icon-search-header {
  box-sizing: border-box;
  position: absolute;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  left: 14px;
  top: 14px;
  color: var(--color-icon-light);
}

.icon-search-header::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}

.contain-icon-search {
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -2px;
  padding: 1.5rem;
}

.logo-shop-header {
  margin-right: 2rem;
  width: 150px;
  justify-self: end;
}

.image-logo-header {
}

.contain-menu-header {
  background-color: rgba(160, 147, 147, 0.12);
  z-index: 22222222222;
}

.contain-user-icon {
  display: none;
}

.icon-user-header {
  color: var(--color-icon-light);
  font-size: 20px;
}

.contain-close-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  bottom: -38px;
  left: -39px;
  width: 40px;
  border-radius: 100%;
  border-top-right-radius: 0;
  cursor: pointer;
  z-index: 111;
}

.close-menu-header {
  font-size: 25px;
  font-weight: bold;
  color: red;
}

.menu-lists-header {
}

.list-shop-header {
  margin: 0 8px;
  position: relative;
}

.back-icon-header {
  position: absolute;
  display: none !important;
  cursor: pointer;
}

.subset-menu-header {
  display: none;
  position: absolute;
  /* background: #ffffff; */
  visibility: hidden;
  opacity: 0;
  border-radius: 24px;
  padding: 20px 0;
  width: 300px;
  right: -100px;
  z-index: 1;
  transition: 0.3s;
  top: 55px;
}

.subset-menu-header::before {
  position: absolute;
  content: "";
  /* height: 100%; */
  width: 100%;
  background-color: #0000008a;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.subset-menu-header::after {
  position: absolute;
  content: "";
  /* height: 100%; */
  width: 100%;
  background-color: #0000008a;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.subset-menu-show {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 976px) {
  .list-shop-header:hover .subset-menu-header {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  .list-shop-header:hover .subset-menu-header::after {
    animation: show-subset-menu-after 0.3s 0.15s both;
  }
  .list-shop-header:hover .subset-menu-header::before {
    animation: show-subset-menu-before 0.3s 0.15s both;
  }
  @keyframes show-subset-menu-after {
    from {
      height: 0;
    }
    to {
      height: 50%;
    }
  }
  @keyframes show-subset-menu-before {
    from {
      height: 0;
    }
    to {
      height: 50%;
    }
  }
}

.list-product-header:hover > a,
.list-shop-header:hover > a {
  transform: translateX(7px);
}

.list-product-header {
  padding: 0.3rem 0;
  transition: 0.3s;
}

.link-shop-header {
  position: relative;
  display: block;
  padding: 1rem 2rem;
  color: #555;
  transition: 0.3s;
}

.icon-menu-header {
  position: absolute;
  cursor: default;
  left: 13%;
  top: 38%;
  font-size: 12px;
  color: #555;
}

.list-shop-header:hover > a,
.list-shop-header:hover > i {
  color: #d84747;
}

.link-product-header {
  color: var(--color-white) !important;
  display: block;
  transition: 0.3s;
}

.link-product-header:hover {
  color: var(--background-red);
  transform: translateX(7px);
}

.list-product-header {
  padding: 0.3rem 0;
}

.contain-page-shop {
  width: 100%;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.menu-page-shop {
  align-self: flex-start;
}

.contain-back-topage {
  cursor: pointer;
  gap: 1rem;
  color: var(--color-icon-light);
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 21px;
}

.text-back-topage {
  order: -1;
}

.list-page-shop {
  padding-left: 1.2rem;
}

.icon-page-shop {
  transform: rotate(90deg);
  margin-right: 10px;
  color: #bdbdbd;
}

.link-page-shop {
  font-size: 14px;
  color: #757575;
}

.support-products-shop {
  padding: 1.5rem;
}

.contain-all-products {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: 1fr 2fr;
}

.products-apearance-shop {
  display: grid;
  grid-template-rows: 40px auto;
  grid-gap: 2rem;
}

.contain-title-products {
  position: relative;
}

.title-products-shop {
  position: relative;
  color: #555;
  font-size: 24px;
}

.contain-title-products::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -12px;
  border-bottom: 1px solid #e0e0e0;
}

.contain-title-products {
}

.user-react-header {
  gap: 0.5rem;
}

.contain-box-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.2rem;
  grid-auto-rows: 35rem;
}

.contain-filter {
  /* transition: .1s; */
  overflow-y: hidden;
}

.animate-close-filter {
  animation: animate-close-filter 0.35s both;
}

@keyframes animate-close-filter {
  0% {
    max-height: 100%;
  }
  100% {
    max-height: 70px;
  }
}

.animate-open-filter {
  animation: animate-open-filter 2s both;
}

@keyframes animate-open-filter {
  0% {
    max-height: 70px;
  }
  100% {
    max-height: 100%;
  }
}

.product-box-shop {
  position: relative;
  justify-content: space-between;
  height: 92%;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.product-box-shop:hover {
  border: none;
}

.product-box-shop::after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-bottom: 16px solid var(--background-red);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  bottom: 0;
  transition: 0.3s;
}

.product-box-shop:hover img {
  transform: scale(1.05);
}

.product-box-shop:hover::after {
  opacity: 1;
  visibility: visible;
}

.contain-info-product {
  width: 100%;
  margin: 1rem;
  text-align: center;
  height: 85px;
  justify-content: inherit;
}

.name-model-product {
  /* margin-bottom: 1.5rem; */
  color: #757575;
}

.contain-image-product {
  /* width: 70%; */
  height: 70%;
}

.image-product-shop {
  height: 100%;
  /* width: 300px; */
}

.price-product-shop {
  color: #111;
  font-weight: normal;
}

.contain-range-price {
  /* justify-content: space-around; */
  position: relative;
  background: #877aeafa;
  width: 85%;
  height: 10px;
  align-self: center;
}

#range-filter-price2,
#range-filter-price1 {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 8px;
  height: 25px;
  /* border-radius: 100%; */
  background-color: rgb(114, 92, 173);
  z-index: 2;
}

#range-filter-price2::after,
#range-filter-price1::after {
  position: absolute;
  background-color: #367f8c;
  color: var(--color-white);
  font-size: 10px;
  padding: 0.05rem 1rem;
  /* width: 33px;
    height: 13px; */
  left: -23px;
  border-radius: 6px;
}

.contain-range-price::after,
.contain-range-price::before {
  position: absolute;
  content: "";
  height: 100%;
  background-color: rgb(203 243 241);
}

.contain-range-price::after {
  left: 0;
  width: var(--width-price-left, "0");
}

.contain-range-price::before {
  right: 0;
  width: var(--width-price-right, "0");
}

#range-filter-price2::after {
  content: attr(data-minPrice);
  top: -22px;
}

#range-filter-price1::after {
  content: attr(data-maxPrice);
  top: 30px;
}

#range-filter-price2::before,
#range-filter-price1::before {
  position: absolute;
  content: "";
  border-bottom: 8px solid #367f8c;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: 25px;
  left: 0px;
}

#range-filter-price2::before {
  top: -8px;
  transform: rotate(180deg);
}

#range-filter-price1 {
  right: 0;
}

#range-filter-price2 {
  left: 0;
}

.contain-title-price,
.contain-title-color,
.contain-title-size {
  width: 100%;
  justify-content: space-between;
}

.products-shop-optional {
  gap: 2rem;
  justify-content: flex-start;
  margin-top: 4.5rem;
}

.contain-submit-price {
  align-self: center;
}

.box-label-color input {
  width: 16px;
  height: 16px;
}

.submit-filter-price {
  cursor: pointer;
  padding: 0.4rem 1.3rem;
  background: var(--background-red);
  border-radius: 20px;
  border: 1px solid var(--background-red);
  color: var(--color-white);
}

input[type="checkbox"] {
  cursor: pointer;
}

.filter-products-size,
.filter-products-price,
.filter-products-color {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
  align-items: flex-start;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  justify-content: flex-start;
}

.filter-products-price {
  gap: 3rem;
}

.filter-products-color {
  /* height: 283px;
        overflow-y: scroll; */
}

.filter-products-color::-webkit-scrollbar {
}
/* .filter-products-color::-webkit-scrollbar-thumb {
        border-radius: 10%;
        background-color: var(--color-text-nav-light);
        border: 10px solid #fff;
        border-left: 0;
        border-right: 0;
    } */

.contain-filter-colors {
  align-items: baseline !important;
  width: 100%;
  gap: 0.5rem;
  overflow-y: scroll;
  height: 192px;
  margin: -4px;
}

.contain-filter-colors::-webkit-scrollbar {
  width: 5px;
  border-radius: 10%;
  background-color: var(--color-text-nav-light);
  margin: 10px;
  padding: 10px;
}

.contain-filter-colors::-webkit-scrollbar-thumb {
  border-radius: 10%;
  background-color: var(--color-text-nav-light);
  border-left: 0;
  border-right: 0;
}

.box-filter-color {
  width: 100%;
  justify-content: space-between;
}

.box-filter-color:nth-child(1) {
  margin-top: 4.5rem;
}

.itself-color-filter::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 5px;
  top: -15px;
  background-color: var(--color-filter, "");
}

.itself-color-filter {
  position: relative;
  margin-left: 2rem;
}

.contain-range-color,
.contain-range-size {
  gap: 10px;
}

.contain-filter-colors,
.contain-filter-size {
  align-items: flex-end;
}

.box-filter-size,
.box-filter-color {
  align-items: baseline;
  gap: 10px;
  transition: 0.3s;
}

.box-filter-size {
  width: 100%;
  justify-content: flex-start;
}

.box-filter-size input {
  cursor: pointer;
  width: 16px;
  height: 16px;
  accent-color: #6184b1;
}

.text-filter-color,
.text-filter-siza {
  order: 1;
}

.text-filter-color {
  padding-right: 10px;
}

.icon-filter-product {
  position: relative;
  cursor: pointer;
  background-color: #757575;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.icon-filter-product:after {
  content: attr(icon-filter);
  transition: 0.1s;
  display: block;
  position: absolute;
  /* height: 1px; */
  color: var(--color-white);
  /* width: 40%; */
  /* background: #fff; */
  bottom: var(--bottom-close-filter, 29.7px);
  left: var(--left-close-filter, 5.2px);
  height: 1px;
  font-size: var(--size-close-filter, 28px);
}

.a {
  content: "+";
  display: block;
  position: absolute;
  /* height: 1px; */
  color: var(--color-white);
  /* width: 40%; */
  /* background: #fff; */
  bottom: 22.7px;
  left: 3.5px;
  height: 1px;
  font-size: 20px;
}

.contain-control-price {
  width: 100%;
  gap: 2rem;
}
/* .itself-clor-red::after {
    background-color: red;
}

.itself-clor-blue::after {
    background-color: blue;
}

.itself-clor-black::after {
    background-color: black;
}

.itself-clor-green::after {
    background-color: green;
} */

.contain-number-page {
  gap: 2rem;
}

.box-number-page {
  gap: 2.5rem;
}

.title-number-page {
  color: #111;
  font-size: 14px;
  font-weight: 400;
}

.contain-page-text {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid #d0cdcd;
  transition: 0.3s;
  color: #777;
  transition: 0.3s;
}

.number-page-text {
}

.contain-page-text:hover {
  background-color: #111;
}

.select-page-color {
  background-color: var(--background-red);
}

.select-page-color {
  color: var(--color-white);
}

.contain-page-text:hover {
  color: var(--color-white);
}

.support-number-page {
  padding: 2rem;
}

.title-number-page {
  font-size: 18px;
}

.contain-finally-shop {
  width: 100%;
}

.short-info-shop {
  background-color: #37474f;
  grid-gap: 10px;
  grid-auto-rows: 75px;
  color: #eeeeee;
}

.time-answer-shop {
  padding: 1.2rem 0;
}

.text-time-answer {
  font-weight: 100;
  padding-right: 2rem;
}

.phone-answer-shop {
}

.icon-phone-answer {
  margin-left: 10px;
}

.text-phone-answer {
  font-weight: 100;
}

.email-answer-shop {
  font-weight: 100;
}

.icon-email-answer {
  margin-left: 10px;
}

.text-email-answer {
}

.finally-menu-shop {
  grid-gap: 20px;
  padding: 2rem 0;
}

.contain-finally-menu {
}

.title-finally-menu {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #616161;
}

.finally-menu-self {
  align-items: baseline;
}

.finally-menu-list {
  list-style: circle;
  list-style-type: disc;
}

.finally-menu-list::marker {
  border: none;
  color: #b4a3a36a;
  transition: 0.3s;
}

.finally-menu-list:hover::marker {
  color: var(--background-red);
}

.finally-menu-link {
  display: block;
  padding: 5px 0;
  color: #999;
  transition: 0.3s;
}

.finally-menu-link:hover {
  color: #424242;
}

.subset-link-header {
  color: #f9ec00db;
}

.link-product-header {
  color: #999;
  display: block;
  transition: 0.3s;
}

.link-product-header:hover {
  color: var(--background-red);
  transform: translateX(7px);
}

.list-product-header {
  padding: 0.3rem 0;
}

.list-product-header:hover > a {
  color: #8cffed !important;
}

.icon-phone-answer {
  margin-bottom: 10px;
}

@media only screen and (max-width: 975px) {
  .contain-all-products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  input[type="range"] {
    width: 100%;
  }
  .list-product-header:hover > a {
    color: #b1fa69 !important;
  }
  .logo-shop-header {
    grid-column: span 1 /-2;
    justify-self: center;
  }
  .search-box-header {
    grid-row: 2/3;
    grid-column: -4/-2;
  }
  .contain-menu-header {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    filter: saturate(1.5) grayscale(0.3) drop-shadow(4px 10px 10px #c922bb75);
    width: 260px;
    right: -150px;
    transition: all 0.5s;
    background-color: unset;
  }
  .change-background-menu {
    transition: 0.3s;
  }
  .animate-background-menu::after,
  .change-background-menu::after {
    content: "";
    position: absolute;
    height: 100%;
    background: var(
      --change-background-menu,
      linear-gradient(45deg, #1971fc75, #2132a33b, #a25be2e0),
      url(images/image-menu.png)
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    /* transition: 3s; */
  }
  .animate-background-menu::after {
    animation: animate-background-menu 0.5s 0.1s both;
  }
  .change-background-menu::after {
    width: 100%;
  }
  @keyframes animate-background-menu {
    0% {
      width: 33%;
    }
    50% {
      width: 66%;
    }
    100% {
      width: 100%;
    }
  }
  .subset-menu-header {
    display: block;
    transition: 0.3s;
    /* visibility: hidden;
            opacity: 0; */
    background-color: unset;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0;
  }
  .back-icon-header {
    display: block !important;
    top: 6px;
    left: 8px;
    font-size: 22px;
    color: var(--color-white);
    opacity: 0;
    z-index: 11111;
  }
  .back-icon-animate {
    animation: back-icon-menu 0.5s 0.1s both;
  }
  @keyframes back-icon-menu {
    0% {
      left: 66%;
    }
    50% {
      left: 33%;
    }
    100% {
      left: 8px;
    }
  }
  /* .subset-menu-hidden {
            visibility: hidden !important;
            opacity: 0 !important;
        } */
  .subset-menu-header::before,
  .subset-menu-header::after {
    display: none;
  }
  .list-shop-header {
    position: inherit;
  }
  .menu-lists-header {
    flex-direction: column;
  }
  .menu-bar-header {
    display: block;
    cursor: pointer;
    margin-right: 14px;
    justify-self: right;
    transition: 0.3s;
  }
  .contain-close-menu {
    display: block;
  }
  .icon-menu-bar {
    font-size: 28px;
    color: #313a42de;
  }
  .icon-menu-header {
    position: relative;
    color: var(--color-white);
  }
  .contain-accessibility-header {
    padding: 0;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
  .link-shop-header {
    color: var(--color-white);
    width: 105px;
    padding: 1rem;
  }
  .subset-link-header {
    color: #0afafa;
    text-shadow: 1px 1px 3px #b2b5c9;
  }
  .hidden-text-js > li > a,
  .hidden-text-js > li > i {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
}
/* .contain-accessibility-header {
        padding: 0;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    } */
/* .link-shop-header {
        color: var(--color-white);
    } */

@media only screen and (max-width: 892px) {
  .contain-filter {
    padding: 1.5rem 3rem;
  }
  .products-apearance-shop {
    grid-row: 2/3;
  }
  .filter-products-price {
    align-items: center;
  }
  input[type="range"] {
    width: 100%;
  }
  .contain-range-price {
    width: 100%;
  }
  .submit-filter-price {
    padding: 0.5rem 2.3rem;
    background: var(--background-red);
    border-radius: 20px;
    border: 1px solid var(--background-red);
    color: var(--color-white);
    font-size: 18px;
  }
  .title-filter-price,
  .title-filter-color,
  .title-filter-size {
    font-size: 20px;
  }
}

@media only screen and (max-width: 894px) {
  .short-info-shop {
    /* grid-template-rows: repeat(3, 75px); */
    grid-auto-flow: row;
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 810px) {
  .contain-accessibility-header {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
  .search-box-header {
    /* width: 400px; */
    margin: 0 58px;
    grid-column: span 3;
  }
  .search-box-header {
    /* grid-row: auto; */
    /* grid-column: auto; */
  }
  .basket-text-header,
  .enter-user-header {
    display: none;
  }
  .contain-user-icon {
    display: flex;
  }
  .basket-user-header {
    background-color: #9f969640;
    /* border-radius: 0; */
    justify-content: space-around;
  }
  .icon-basket-header {
    color: var(--color-icon-light);
    font-size: 20px;
  }
  .contain-page-shop {
    gap: 1.5rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .text-grades-buying,
  .short-info-shop {
    font-size: 16px;
  }
  .title-products-shop {
    font-size: 20px;
  }
  h4 {
    font-size: 18px !important;
  }
  .submit-filter-price {
    padding: 0.7rem 1.5rem !important;
    font-size: 16px;
  }
}

@media only screen and (max-width: 639px) {
  .contain-finally-menu:nth-last-child(1) {
    grid-column: span 2;
  }
  .contain-finally-menu:nth-last-child(1) {
    grid-column: span 2;
  }
  .contain-menu-header {
    width: 100%;
    height: 100%;
    overflow: hidden;
    zoom: 1.2;
  }
  .contain-close-menu {
    border-radius: 100%;
    border-top-right-radius: 0;
    top: 0px;
    height: 40px;
    right: 0;
  }
  .alert-error-product {
    font-size: 19px;
  }
  .alert-product-situation {
    width: 80%;
    padding: 25px;
  }
  .contain-back-topage {
    font-size: 18px;
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .contain-accessibility-header {
    grid-template-columns: repeat(3, 1fr);
  }
  .logo-shop-header {
    margin-left: 50px;
  }
  p,
  strong {
    font-size: 14px;
  }
  .title-number-page,
  .title-finally-menu {
    font-size: 16px;
  }
}

@media only screen and (max-width: 438px) {
  .logo-shop-header {
    display: none;
  }
  .menu-bar-header {
    grid-column: -2/-1;
  }
  .search-box-header {
    margin: 0;
  }
  .contain-text-grades {
    font-size: 12px;
  }
  .title-products-shop {
    font-size: 18px;
  }
  .contain-image-product {
    width: 200px;
    /* height: 220px; */
  }
  .preloader-change-page {
    width: 120px;
  }
  .finally-menu-shop {
    grid-template-columns: auto;
  }
}
