@import url("../../CMS-dayanShop/functions/css/font.css");
@import url("../functions/css/header.css");
@import url("../functions/css/footer.css");

html {
  overflow-x: hidden;
  overflow-y: var(--wait-load, scroll);
}

body {
  overflow-x: hidden;
  align-items: stretch !important;
}

:root {
  --color-text-nav-light: #4444;
  --color-icon-light: #666;
  --color-white: #fff;
  --background-red: #ff5252d1;
}

* {
  font-family: "vazir";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.contain-pre-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 111;
}

.preloader-change-page {
  height: 100%;
  width: 170px;
  z-index: 2;
}

#all {
}

.fake-background-load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #292f34a3;
}

.alert-product-situation {
  display: var(--alert-product-situation, none);
  background-color: #ef308052;
  width: 58%;
  padding: 45px;
  margin: 6rem auto;
  border: 2px solid #dd5bbbe0;
  border-radius: 11px;
}

.alert-error-product {
  color: #af3a55d9;
  font-size: 22px;
}

.contain-page-shop {
  width: 100%;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.menu-page-shop {
  align-self: flex-start;
}

.contain-back-topage {
  cursor: pointer;
  gap: 1rem;
  color: var(--color-icon-light);
  justify-content: flex-end;
  align-self: flex-end;
  margin-left: 1rem;
  margin-top: 2rem;
  font-size: 21px;
}

.text-back-topage {
  order: -1;
}

.list-page-shop {
  padding-left: 1.2rem;
}

.icon-page-shop {
  transform: rotate(90deg);
  margin-right: 10px;
  color: #bdbdbd;
}

.link-page-shop {
  font-size: 14px;
  color: #757575;
}

.support-products-shop {
  padding: 1.5rem;
}

.contain-all-products {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: 1fr 2fr;
}

.products-apearance-shop {
  display: grid;
  grid-template-rows: 40px auto;
  grid-gap: 2rem;
}

.contain-title-products {
  position: relative;
}

.title-products-shop {
  position: relative;
  color: #555;
  font-size: 24px;
}

.contain-title-products::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: -12px;
  border-bottom: 1px solid #e0e0e0;
}

.contain-title-products {
}

.contain-box-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.2rem;
  grid-auto-rows: 35rem;
}

.contain-filter {
  
  overflow-y: hidden;
}

.animate-close-filter {
  animation: animate-close-filter 0.35s both;
}

@keyframes animate-close-filter {
  0% {
    max-height: 100%;
  }
  100% {
    max-height: 70px;
  }
}

.animate-open-filter {
  animation: animate-open-filter 2s both;
}

@keyframes animate-open-filter {
  0% {
    max-height: 70px;
  }
  100% {
    max-height: 100%;
  }
}

.product-box-shop {
  position: relative;
  justify-content: space-between;
  height: 92%;
  border: 1px solid #e0e0e0;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.product-box-shop:hover {
  border: none;
}

.product-box-shop::after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  border-bottom: 16px solid var(--background-red);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  bottom: 0;
  transition: 0.3s;
}

.product-box-shop:hover img {
  transform: scale(1.05);
}

.product-box-shop:hover::after {
  opacity: 1;
  visibility: visible;
}

.contain-info-product {
  width: 100%;
  margin: 1rem;
  text-align: center;
  height: 85px;
  justify-content: inherit;
}

.name-model-product {

  color: #757575;
}

.contain-image-product {

  height: 70%;
}

.image-product-shop {
  height: 100%;

}

.price-product-shop {
  color: #111;
  font-weight: normal;
}

.contain-range-price {

  position: relative;
  background: #877aeafa;
  width: 85%;
  height: 10px;
  align-self: center;
}

#range-filter-price2,
#range-filter-price1 {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 8px;
  height: 25px;
  
  background-color: rgb(114, 92, 173);
  z-index: 2;
}

#range-filter-price2::after,
#range-filter-price1::after {
  position: absolute;
  background-color: #367f8c;
  color: var(--color-white);
  font-size: 10px;
  padding: 0.05rem 1rem;

  left: -23px;
  border-radius: 6px;
}

.contain-range-price::after,
.contain-range-price::before {
  position: absolute;
  content: "";
  height: 100%;
  background-color: rgb(203 243 241);
}

.contain-range-price::after {
  left: 0;
  width: var(--width-price-left, "0");
}

.contain-range-price::before {
  right: 0;
  width: var(--width-price-right, "0");
}

#range-filter-price2::after {
  content: attr(data-minPrice);
  top: -22px;
}

#range-filter-price1::after {
  content: attr(data-maxPrice);
  top: 30px;
}

#range-filter-price2::before,
#range-filter-price1::before {
  position: absolute;
  content: "";
  border-bottom: 8px solid #367f8c;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  top: 25px;
  left: 0px;
}

#range-filter-price2::before {
  top: -8px;
  transform: rotate(180deg);
}

#range-filter-price1 {
  right: 0;
}

#range-filter-price2 {
  left: 0;
}

.contain-title-price,
.contain-title-color,
.contain-title-size {
  width: 100%;
  justify-content: space-between;
}

.products-shop-optional {
  gap: 2rem;
  justify-content: flex-start;
  margin-top: 4.5rem;
}

.contain-submit-price {
  align-self: center;
}

.box-label-color input {
  width: 16px;
  height: 16px;
}

.submit-filter-price {
  cursor: pointer;
  padding: 0.4rem 1.3rem;
  background: var(--background-red);
  border-radius: 20px;
  border: 1px solid var(--background-red);
  color: var(--color-white);
}

input[type="checkbox"] {
  cursor: pointer;
}

.filter-products-size,
.filter-products-price,
.filter-products-color {
  position: relative;
  width: 100%;
  padding: 1.5rem;
  gap: 1.5rem;
  align-items: flex-start;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  justify-content: flex-start;
}

.filter-products-price {
  gap: 3rem;
}

.filter-products-color {

}

.filter-products-color::-webkit-scrollbar {
}


.contain-filter-colors {
  align-items: baseline !important;
  width: 100%;
  gap: 0.5rem;
  overflow-y: scroll;
  height: 192px;
  margin: -4px;
}

.contain-filter-colors::-webkit-scrollbar {
  width: 5px;
  border-radius: 10%;
  background-color: var(--color-text-nav-light);
  margin: 10px;
  padding: 10px;
}

.contain-filter-colors::-webkit-scrollbar-thumb {
  border-radius: 10%;
  background-color: var(--color-text-nav-light);
  border-left: 0;
  border-right: 0;
}

.box-filter-color {
  width: 100%;
  justify-content: space-between;
}

.box-filter-color:nth-child(1) {
  margin-top: 4.5rem;
}

.itself-color-filter::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 5px;
  top: -15px;
  background-color: var(--color-filter, "");
}

.itself-color-filter {
  position: relative;
  margin-left: 2rem;
}

.contain-range-color,
.contain-range-size {
  gap: 10px;
}

.contain-filter-colors,
.contain-filter-size {
  align-items: flex-end;
}

.box-filter-size,
.box-filter-color {
  align-items: baseline;
  gap: 10px;
  transition: 0.3s;
}

.box-filter-size {
  width: 100%;
  justify-content: flex-start;
}

.box-filter-size input {
  cursor: pointer;
  width: 16px;
  height: 16px;
  accent-color: #6184b1;
}

.text-filter-color,
.text-filter-siza {
  order: 1;
}

.text-filter-color {
  padding-right: 10px;
}

.icon-filter-product {
  position: relative;
  cursor: pointer;
  background-color: #757575;
  width: 18px;
  height: 18px;
  border-radius: 100%;
}

.icon-filter-product:after {
  content: attr(icon-filter);
  transition: 0.1s;
  display: block;
  position: absolute;
  
  color: var(--color-white);
  
  
  bottom: var(--bottom-close-filter, 29.7px);
  left: var(--left-close-filter, 5.2px);
  height: 1px;
  font-size: var(--size-close-filter, 28px);
}

.a {
  content: "+";
  display: block;
  position: absolute;
  color: var(--color-white);

  bottom: 22.7px;
  left: 3.5px;
  height: 1px;
  font-size: 20px;
}

.contain-control-price {
  width: 100%;
  gap: 2rem;
}

@media only screen and (max-width: 975px) {
  .contain-all-products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  input[type="range"] {
    width: 100%;
  }
}

@media only screen and (max-width: 892px) {
  .contain-filter {
    padding: 1.5rem 3rem;
  }
  .products-apearance-shop {
    grid-row: 2/3;
  }
  .filter-products-price {
    align-items: center;
  }
  input[type="range"] {
    width: 100%;
  }
  .contain-range-price {
    width: 100%;
  }
  .submit-filter-price {
    padding: 0.5rem 2.3rem;
    background: var(--background-red);
    border-radius: 20px;
    border: 1px solid var(--background-red);
    color: var(--color-white);
    font-size: 18px;
  }
  .title-filter-price,
  .title-filter-color,
  .title-filter-size {
    font-size: 20px;
  }
}

@media only screen and (max-width: 810px) {
  .contain-page-shop {
    gap: 1.5rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  .text-grades-buying,
  .short-info-shop {
    font-size: 16px;
  }
  .title-products-shop {
    font-size: 20px;
  }
  h4 {
    font-size: 18px !important;
  }
  .submit-filter-price {
    padding: 0.7rem 1.5rem !important;
    font-size: 16px;
  }
}

@media only screen and (max-width: 639px) {
  .alert-error-product {
    font-size: 19px;
  }
  .alert-product-situation {
    width: 80%;
    padding: 25px;
  }
  .contain-back-topage {
    font-size: 18px;
    align-self: center;
  }
}

@media only screen and (max-width: 600px) {
  .title-number-page,
  .title-finally-menu {
    font-size: 16px;
  }
}

@media only screen and (max-width: 438px) {
  .contain-text-grades {
    font-size: 12px;
  }
  .title-products-shop {
    font-size: 18px;
  }
  .contain-image-product {
    width: 200px;
    
  }
  .preloader-change-page {
    width: 120px;
  }
}
