@import url("../../CMS-dayanShop/functions/css/font.css");
@import url("../functions/css/header.css");
@import url("../functions/css/footer.css");

html {
  overflow-x: hidden;
  overflow-y: var(--wait-load, scroll);
  min-width: min-content;
}

body {
  overflow-x: hidden;
  align-items: stretch !important;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
}

:root {
  --color-text-nav-light: #4444;
  --color-icon-light: #666;
  --color-white: #fff;
  --background-red: #ff5252d1;
}

* {
  font-family: "vazir";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.contain-pre-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 111;
}

.preloader-change-page {
  height: 100%;
  width: 170px;
  z-index: 2;
}

.fake-background-load {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #292f34a3;
}

.alert-product-situation {
  display: var(--alert-product-situation, none);
  background-color: #ef308052;
  width: 58%;
  padding: 45px;
  margin: 6rem auto;
  border: 2px solid #dd5bbbe0;
  border-radius: 11px;
}

.alert-error-product {
  color: #af3a55d9;
  font-size: 22px;
}

.contain-page-shop {
  width: 100%;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.menu-page-shop {
  align-self: flex-start;
}

.icon-page-shop {
  transform: rotate(90deg);
  margin-right: 10px;
  color: #bdbdbd;
}

input[type="checkbox"] {
  cursor: pointer;
}

.a {
  content: "+";
  display: block;
  position: absolute;
  color: var(--color-white);

  bottom: 22.7px;
  left: 3.5px;
  height: 1px;
  font-size: 20px;
}

.contain-login-form {
  max-width: 460px;
  padding: 2rem 3rem;
  padding-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  line-height: 35px;
  color: #555;
  font-size: 15px;
  text-align: justify;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  margin: 4rem 0;
}
.login-form {
  gap: 2rem;
  padding: 1rem 0;
}

.input-form {
  position: relative;
}

.error-input {
  position: absolute;
  top: 37px;
  font-size: 10.5px;
  color: #db1919;
}

input,
.login-btn {
  padding: 0.5rem;
  border: 1px solid #e6e8ef;
  color: #636363;
  width: 19rem;
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: none;
}

.login-btn {
  border: none;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  max-width: 95%;
  margin: 1rem 0 0.5rem;
  border-color: #ff6769;
  background-color: #ff6769;
  cursor: pointer;
}

.title-form {
  text-align: center;
}

.sign-up {
  margin-top: 1rem;
  color: #4632b7;
  font-size: 17px;
}

.sign-up h5 {
  cursor: pointer;
}

.login-error {
  background-color: #e98b8b;
  height: 73px;
  box-shadow: 1px 2px 8px #9b8181;
  position: fixed;
  top: 0;
  width: 378px;
  border-radius: 10px;
  color: #fff;
}

.modals {
  position: fixed;
  width: 100%;
  height: max-content;
  z-index: 2222;
  top: 0;
}

@media only screen and (max-width: 975px) {
  .contain-all-products {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  input[type="range"] {
    width: 100%;
  }
}

@media only screen and (max-width: 810px) {
  .contain-page-shop {
    gap: 1.5rem;
    justify-content: center;
  }
  .error-input {
    font-size: 10px !important;
    top: 32px !important;
  }
}

@media only screen and (max-width: 700px) {
  h4 {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 639px) {
  .alert-error-product {
    font-size: 19px;
  }
  .alert-product-situation {
    width: 80%;
    padding: 25px;
  }
  .contain-back-topage {
    font-size: 18px;
    align-self: center;
  }
  .input-form {
    margin: 0 1rem !important;
  }
  .contain-login-form {
    padding: 1.2rem 0.2rem !important;
  }
  form * {
    font-size: 90%;
  }
  form input,
  .login-btn {
    width: 16rem !important;
  }
  .error-input {
    font-size: 9px !important;
  }
}

@media only screen and (max-width: 600px) {
  .login-error {
    width: 300px !important;
  }
}

@media only screen and (max-width: 438px) {
  .preloader-change-page {
    width: 120px;
  }
}
