.flex-row{
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
}
.flex-column{
    display: flex;
    flex-direction:column;
    /* flex: 1; */
    justify-content: center;
    align-items: center;
}