header {
  width: 100%;
}
.header-page nav {
  background: #ededed;
  justify-content: space-between;
}

.container-menu i {
  font-size: 26px;
}
.icon-menu i {
  color: #919ca9;
}
.container-img {
  width: 40px;
  height: 35px;
}
.more-items span {
  
}
.header-page nav > div {
  margin: 0.7rem 1.2rem;
}
.container-img img {
  border-radius: 50%;
}

#adminItems {
  display: none;
}
.more-items-active > ul {
  display: flex !important;
}
.more-items {
  gap: 0.5rem;
  cursor: pointer;
  position: relative;
}
.more-items ul {
  position: absolute;
  
  transform: translateY(66%) translateX(0%);
  background: #fff;
  width: 175px;
}
.more-items li {
  width: 100%;
}
.more-items a {
  padding: 1rem;
  width: 100%;
  font-size: 12px;
  color: #212529;
  font-weight: 600;
}
.more-items a:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.more-items::after {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-left: 0.3em solid transparent;
  border-bottom: 0;
  border-right: 0.3em solid transparent;
  font-size: 15px;
  color: #666f79;
}

.menu {
  display: none;
  background: #2a3f54;
  gap: 1rem;
  position: absolute;
  top: 0;
  right: 0;
}
.menu a {
  cursor: pointer;

  
}
.open-mini-menu {
  width: 70px;
  
  display: flex;
}
.open-menu {
  width: 230px;
  
  display: flex;
}

.icon-menu {
  cursor: pointer;
  
  
}
.active.item {
  position: relative;
  background-color: rgba(255, 255, 255, 0.05);
}
.active.item::before {
  content: "";
  position: absolute;
  height: 100%;

  border-right: 5px solid #1abb9c;
}
.item ul {
  
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.item ul a:hover {
  background: rgba(255, 255, 255, 0.06);
}
.open-mini-menu .item ul {
}
.open-menu .active.item ul {
  height: 110px;
  visibility: visible;
  opacity: 1;
  
}
.open-mini-menu .item ul {
  position: absolute;
  transform: translate(-69px, -100%);
  width: max-content;
  background-color: #3e5367;
}
.open-mini-menu .item ul a {
  padding: 15px 1.8rem;
}
.open-mini-menu .active.item ul {
  visibility: visible;
  opacity: 1;
  height: auto;
}
.open-mini-menu .fa-circle {
  display: none;
}

.fa-circle {
  font-size: 10px !important;
  color: #ffffffc9;
}

.menu li {
  width: 100%;

}
.menu li h1 {
  margin: 1rem 0;
  text-align: center;

  
  color: #e7e7e7;
}
.open-mini-menu a {
  flex-direction: column;
  gap: 0.2rem;
  font-size: 12px;
}
.open-menu a {
  gap: 0.7rem;
  font-size: 14px;
}
.menu a {
  position: relative;
  padding: 1rem 0.7rem;
  align-items: center;
  display: flex;

  color: #e7e7e7;
  
}
.fa-chevron-down {
  position: absolute;
  transform: translate(-198px, -2.5px);
  font-size: 12px !important;
}

.open-mini-menu .fa-chevron-down {
  display: none;
}
.open-menu .fa-chevron-down {
  display: block;
}
.open-menu-item {
  display: none;
}
.open-menu .open-menu-item {
  display: block !important;
}
.open-menu .contain-welcome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding: 1rem 0.7rem;
}
.open-menu .welcome-img {
  width: 48px;
  height: 46px;
  border: 4px solid #fff;
  
  border-radius: 50%;
}
.open-menu .welcome-img img {
  border-radius: 50%;
}
.open-menu .welcome-text span {
  color: #bab8b8;
}
.open-menu .welcome-text h2 {
  color: #fff;
  padding-top: 0.5rem;
}
.close-menu {
  width: 0;
  visibility: hidden;
}
.explain-page {
  width: 100%;
  justify-content: space-between !important;
  padding: 1rem;
}
.title-page {
  width: 45%;
}
.title-page h3 {
  color: #73879c;
  font-size: 1.75rem;
}
.title-page h3 > small {
  font-size: 80%;
}
small {
  font-size: 80%;
  font-weight: 400;
}
.search-page {
  position: relative;
  flex-grow: 1;
  max-width: 22%;
}
#search {
  width: 100%;
  min-height: 2.2rem;
  background: #fff;
  border-radius: 20px;
  border: 1px solid rgba(147, 151, 157, 0.49);
  outline: none;
  padding: 0.3rem 0;
  padding-right: 1rem;
}
.search-page i {
  position: absolute;
  display: flex;
  left: 6px;
  padding: 0.3rem;
  padding-right: 0.5rem;
  top: 0px;
  border-right: 1px solid rgba(147, 151, 157, 0.49);
  height: 100%;
  align-items: center;
  color: #007bff;
  cursor: pointer;
}
input::placeholder {
  
  font-weight: 600;
}

@media only screen and (max-width: 770px) {
  .search-page {
    max-width: 45%;
  }
}
