@import url("../../CMS-dayanShop/functions/css/font.css");
@import url("../functions/css/header.css");
@import url("../functions/css/footer.css");

html {
  overflow-x: hidden;
  overflow-y: var(--wait-load, scroll);
}

body {
  overflow-x: hidden;
  align-items: stretch !important;
  direction: rtl;
}

:root {
  --color-text-nav-light: #4444;
  --color-icon-light: #666;
  --color-white: #fff;
  --background-red: #ff5252d1;
  --color-h1-header: #444;
  --color-shadow-gray: #bdbdbd;
  --color-blue-black-bg: #363a5df7;
  --color-gray-less-opa: #bdbdbd75;
}

* {
  font-family: "vazir";
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
}

.contain-grades-buying {
  position: relative;
  margin: 4rem 0;
  justify-content: space-around;
  color: var(--color-shadow-gray);
}

.contain-grades-buying::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 70%;
  top: 25%;
  background: var(--color-gray-less-opa);
}

.contain-icon-grades {
  position: relative;
  background-color: #fff;
  font-size: 35px;
  width: 90px;
  height: 90px;
  margin-bottom: 1.5rem;
  
  border-radius: 100%;
  border: 1px solid var(--color-gray-less-opa);
  z-index: 1;
}

.select-grades-buying::after {
  position: absolute;
  content: "";
  width: 140%;
  height: 140%;
  border-radius: 100%;
  background-color: var(--color-gray-less-opa);
  z-index: -2;
}

.select-grades-buying::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--color-blue-black-bg);
  z-index: -1;
}

.show-number-grade-2::after,
.show-number-grade-3::after {
  position: absolute;
  content: "";
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100%;
  z-index: 3;
  box-shadow: 0px 2px 14px 2px var(--color-gray-less-opa);
}

.show-number-grade-2::after {
  content: "2";
}

.show-number-grade-3::after {
  content: "3";
}

.select-grades-buying i {
  color: var(--color-white) !important;
}

.contain-grades-buying i {
  color: var(--color-icon-light);
}

.contain-products-info {
  display: grid;
  grid-template-rows: 3rem auto 3rem;
  grid-auto-rows: auto;
  margin: 2rem 1rem;
  border-radius: 12px;
  border: 1px solid var(--color-gray-less-opa);
}

.contain-product-particulars,
.contain-title-products {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  align-self: baseline;
  text-align: center;
  grid-gap: 3rem;
}

.contain-product-particulars {
  border-bottom: 1px solid var(--color-gray-less-opa);
}

.contain-products-info > div > div {
  width: 100%;
}

.title-products-picture,
.contain-remove-product {
  grid-column: 1/2;
}

.title-products-particular,
.contain-model-product {
  grid-column: 2/3;
}

.title-products-count,
.contain-input-count {
  grid-column: 4/5;
}

.title-products-discount,
.contain-discount-product {
  grid-column: 5/6;
}

.title-products-price,
.contain-price-product {
  grid-column: 6/7;
}

.title-products-remove,
.contain-remove-product {
  grid-column: 7/8;
}

.input-count-product {
  width: 100%;
  text-align: center;
  cursor: default;
}

.contain-title-products {
  padding: 0.7rem 0;
  background-color: rgba(184, 180, 180, 0.173);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.contain-title-products > h1 {
  font-size: 16px;
  color: var(--background-red);
}

.size-product-particular {
  font-size: 14px;
  color: var(--color-icon-light);
}

.model-product-particular {
  font-size: 14px;
  color: var(--color-h1-header);
}

.contain-calculation-products {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  padding: 0.7rem 0;
}

.contain-calculation-products > div {
  grid-row: 1/2;
  margin: 0 3rem;
  max-width: max-content;
}

.section-modal-handle {
  width: 100%;
  height: 100%;
  position: fixed;
  align-items: flex-start;
  z-index: 11111;
}

.modal-discount-product {
  position: fixed;
  height: 400px;
  width: 350px !important;
  top: 100px;
  gap: 3rem;
  background: var(--color-white);
  z-index: 111111;
  background-image: linear-gradient(
    to right,
    var(--color-blue-black-bg) 10%,
    var(--color-icon-light)
  );
  box-shadow: 0px 1px 6px rgb(95, 95, 230), 0px 0px 6px 1px rgb(95, 95, 230);
  transform: perspective(200px);
  animation: turn-down-discount 1s both;
  transition: 0.3s;
}

@keyframes turn-down-discount {
  from {
    transform: perspective(200px) translateZ(-250px);
  }
  to {
    transform: perspective(200px) translateZ(0px);
  }
}

.modal-close-discount {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: rgb(235, 20, 20);
  background-color: var(--color-white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s;
}

.modal-close-discount:hover {
  background-color: rgb(212, 54, 157);
  color: #fff;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.ok-reject-code {
  top: 1%;
  
  position: absolute;
  background: #246c25;
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  box-shadow: 3px 5px 7px #688179;
  transition: 0.3s;
  
}

.text-modal-discount {
  color: #fff;
  font-size: 16px;
}

#modal-input-discount {
  width: 70%;
  border-radius: 5px;
  padding: 0.2rem 0.7rem;
  background: #fff;
  border: none;
}

#modal-input-discount:focus {
  outline: 1px solid rgb(95, 95, 230);
}

.modal-circle-chance {
  position: absolute;
  width: 400px;
  
  height: 480px;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    var(--color-blue-black-bg) 10%,
    var(--color-icon-light)
  );
  box-shadow: 0px 1px 6px rgb(95, 95, 230), 0px 0px 6px 1px rgb(95, 95, 230);
  top: 100px;
  animation: go-face-chance 2s both;
  transition: 0.3s;
}

@keyframes go-face-chance {
  from {
    transform: perspective(200px) translateZ(-250px);
  }
  to {
    transform: perspective(200px) translateZ(0px);
  }
}

.modal-circle-chance::before {
  position: absolute;
  content: "";
  border-bottom: 15px solid rgba(255, 255, 255, 0.841);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  z-index: 111;
  transform: rotate(180deg);
  top: var(--top-arrow-circle, 20px);
  left: 184px;
  text-shadow: 0 0 1px #424951;
}

.contain-slice-chane {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 16px 2px #8dccce;
  animation: turn-down-chance 2s both, change-shadow-chance 3s 0.3s infinite;
  animation-timing-function: ease-out;
  transition: all 0.3s;
}

@keyframes change-shadow-chance {
  0% {
    box-shadow: 1px 1px 16px 2px #8dce92;
  }
  33% {
    box-shadow: 1px 1px 16px 2px #cea58d;
  }
  66% {
    box-shadow: 1px 1px 16px 2px #cecb8d;
  }
  100% {
    box-shadow: 1px 1px 16px 2px #8dccce;
  }
}

@keyframes turn-down-chance {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(var(--circle-origin));
  }
}

.turn-down-user {
  animation: turn-down-user var(--time-chance) 0.2s both ease-out;
}

@keyframes turn-down-user {
  from {
    transform: rotate(var(--circle-origin));
  }
  to {
    transform: rotate(var(--deg-chance));
  }
}

.modal-slice-chane {
  position: absolute;
  border-left: 0px solid transparent;
  border-right: 150px solid transparent;
  border-bottom-right-radius: 200px !important;
}

.modal-slice-chane::after {
  position: absolute;
  color: rgb(63, 50, 50);
  top: 50px;
  transform: rotate(140deg);
  right: -160px !important;
  width: 200px;
  height: 20px;
  font-size: 14px;
}

.contain-btn-chance {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.turn-down-chance,
.dont-turn-chance {
  cursor: pointer;
  margin-top: 3rem;
  padding: 0.8rem 2.4rem;
  border-radius: 5px;
  color: #fff;
  background: #7a82dc;
  font-size: 16px;
  box-shadow: 2px 1px 7px #fff;
  transition: 0.3s;
}

.dont-turn-chance {
  background-color: #fff;
  box-shadow: 2px 1px 7px #daffd9;
  color: #de3b3b;
}

.turn-down-chance:hover,
.dont-turn-chance:hover {
  box-shadow: none;
}

.modal-btn-discount {
  padding: 0.7rem 2.5rem;
  border-radius: 5px;
  color: #fff;
  background: #7a82dc;
  box-shadow: 2px 1px 7px #fff;
  transition: 0.3s;
}

.modal-btn-discount:hover {
  box-shadow: none;
}

.contain-calculation-price {
  grid-column: 2/3;
  justify-self: end;
}

.copy-discount-code {
  
  
  background: white;
  border-radius: 6px;
  position: relative;
}

.contaian-text-discount {
  padding: 0.5rem 4rem;
}

.show-discount-code {
  top: 40%;
  position: fixed;
  z-index: 11111111111111111;
  background: linear-gradient(
    to right,
    var(--color-blue-black-bg) 10%,
    var(--color-icon-light)
  );
  border-radius: 10px;
  height: 16rem;
  padding: 0rem 2.2rem;
  justify-content: space-around;
  transition: 0.3s;
}

.contaian-icon-discount {
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  left: 0;
  background: #454b54a3;
  width: 43px;
  height: 100%;
  transition: 0.3s;
}

.contaian-icon-discount:hover {
  background-color: var(--color-discount-icon, #79777757);
}

.text-discount-code {
  color: #2d67e9;
  letter-spacing: 6px;
  font-family: cursive;
}

.btn-finish-copy {
  padding: 0.4rem 1.7rem;
  background-color: #7a82dc;
  color: #fff;
  box-shadow: 2px 1px 7px #daffd9;
  transition: 0.3s;
  border-radius: 5px;
}

.btn-finish-copy:hover {
  box-shadow: none;
}

.text-show-code {
  color: #fff;
}

.icon-discount-code.fa-file {
  color: #323334;
  
}

.icon-discount-code.fa-check {
  color: #b4ffb4;
}

.input-count-product,
.icon-remove-product,
.discount-product-particular,
.price-product-particular {
  font-size: 14px;
  color: var(--color-h1-header);
}

.contain-input-count {
  position: relative;
  width: 80% !important;
}

.input-count-product:focus {
  outline: none;
  border: 1px solid var(--color-shadow-gray);
}

.input-count-product {
  border: 1px solid var(--color-shadow-gray);
  border-radius: 30px;
}

input[type="number"] {
  display: block;
  height: 32px;
  line-height: 32px;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.decrease-input-count,
.increase-input-count {
  position: absolute;
  cursor: pointer;
  top: 1px;
  bottom: 1px;
  width: 20px;
  padding: 0;
  display: block;
  text-align: center;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-icon-light);
  transition: 0.3s;
}

.increase-input-count {
  transform: rotate(270deg);
  right: 3px;
}

.decrease-input-count {
  transform: rotate(90deg);
  left: 3px;
}

.increase-input-count:hover,
.decrease-input-count:hover {
  color: var(--color-shadow-gray);
}

.text-have-discount,
.number-calculation-price {
  font-size: 14px;
  color: var(--color-h1-header);
}

.number-calculation-price {
  position: relative;
}

.animate-discount-price1,
.animate-discount-price2 {
  
}

.discount-price {
  position: absolute;
  left: 210px;
  width: 147px;
  top: 14px;
  z-index: 222;
  color: var(--color-h1-header);
}

.animate-discount-price1::before {
  content: "";
  position: absolute;
  
  box-shadow: var(--shadow-discount);
  left: 0;
  
  background-color: #1149af;
  height: 2px;
  top: 50%;
  animation: var(--animate-discount-1);
  
}

@keyframes animate-discount-1 {
  0% {
    width: 0;
  }
  100% {
    width: 42%;
  }
}

.animate-discount-price1::after {
  content: "";
  position: absolute;
  
  width: 2px;
  background-color: #1149af;
  right: 57%;
  top: 50%;
  animation: var(--animate-discount-2);
  
}

@keyframes animate-discount-2 {
  0% {
    height: 0;
  }
  100% {
    height: 65%;
  }
}

.animate-discount-price2::before {
  content: "";
  position: absolute;
  height: 2px;
  
  bottom: -14%;
  left: 43%;
  background-color: #1149af;
  animation: var(--animate-discount-3);
  
}

@keyframes animate-discount-3 {
  0% {
    width: 0;
  }
  100% {
    width: 68%;
  }
}

.animate-discount-price2::after {
  content: "";
  right: -13%;
  top: 88%;
  position: absolute;
  border-left: var(--arrow-discount);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  transition: 0.3s;
}

.contain-calculation-price {
  position: relative;
}

.text-have-discount {
  color: #7b087b;
  cursor: pointer;
}

.contain-button-arrive {
  justify-content: end;
  margin: 0 1rem;
}

button {
  cursor: pointer;
}

.button-arrive-text {
  background-color: var(--background-red);
  border-radius: 32px;
  height: 2.7rem;
  width: 160px;
  
  color: var(--color-white);
  font-size: 16px;
}

.contain-replace-discount {
  order: -1;
  
  padding: 0.7rem 1.5rem;
  background: #edffe2;
  gap: 1rem;
  border-radius: 22px;
  transition: 0.3s;
}

.text-replace-discount {
  color: #2f9746;
  text-shadow: 1px 1px 1px #94efb8;
}

.icon-replace-discount {
  color: #2f9746;
  font-size: 21px;
  text-shadow: 0px 0px 3px #7fed96;
}

.section-products-info {
  padding-bottom: 3rem;
  cursor: default;
}

.contain-back-topage {
  cursor: pointer;
  gap: 1rem;
  color: var(--color-icon-light);
  justify-content: flex-end;
  margin-top: 2rem;
  margin-left: 1.5rem;
  font-size: 21px;
  
}

.contain-image-product {
  padding: 0.5rem;
}

.icon-close-product {
  display: none !important;
  font-size: 30px !important;
  font-family: monospace !important;
  color: var(--color-shadow-gray);
  left: 12px;
  position: absolute;
  font-weight: 100 !important;
}

.contain-input-count span {
  display: none !important;
}

span.increase-input-count,
span.decrease-input-count {
  transform: none;
  font-size: 20px;
  top: 5px;
  color: #6a30a9;
}

span.decrease-input-count {
  top: -4px;
}

.container-all-products {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.alert-product-situation {
  display: var(--alert-product-situation, none);
  background-color: #ef308052;
  width: 58%;
  padding: 45px;
  margin: 6rem auto;
  
  border: 2px solid #dd5bbbe0;
  border-radius: 11px;
}

.alert-error-product {
  color: #af3a55d9;
  font-size: 22px;
}

.contain-pre-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 111;
}

.preloader-change-page {
  height: 100%;
  width: 170px;
  z-index: 2;
}

.fake-background-load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #292f34a3;
}

.text-back-topage {
  order: -1 !important;
}

.icon-remove-product,
.icon-close-product {
  cursor: pointer;
}

.container-all-products .decrease-input-count,
.container-all-products .increase-input-count,
.container-all-products .icon-remove-product,
.container-all-products .icon-close-product {
  display: var(--disabled-ability);
}

@media only screen and (max-width: 1100px) {
  .basket-text-header {
    display: none;
  }
}
@media only screen and (max-width: 975px) {
  .container-all-products .icon-close-product,
  .container-all-products span.increase-input-count,
  .container-all-products span.decrease-input-count {
    display: var(--disabled-ability) !important;
  }

  .contain-button-arrive {
  }
  .contain-replace-discount {
  }

  .contain-title-products {
    display: none;
  }
  .contain-products-info {
    cursor: default;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 0.5fr;
  }
  .contain-product-particulars {
    border: 1px solid var(--color-blue-black-bg);
    border-radius: 20px;
    padding: 5px !important;
    grid-column: 1/-1 !important;
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-columns: repeat(4, 1fr) !important;
    grid-gap: 0;
    grid-auto-columns: auto;
  }
  .icon-remove-product {
    display: none !important;
  }
  .icon-close-product {
    display: block !important;
  }
  .contain-calculation-products {
    grid-row: 2/3 !important;
    grid-column: 1/-1 !important;
  }
  .contain-image-product {
    grid-row: 1/3;
  }
  .contain-model-product {
    grid-column: span 2;
    grid-row: 1/2;
  }
  .contain-input-count {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  .contain-discount-product {
    display: none;
  }
  .contain-remove-product {
    grid-row: 1/2;
    grid-column: 4/5;
  }
  .contain-price-product {
    grid-column: 4/5;
  }
  .contain-products-info {
    border: none;
  }
  .contain-remove-product {
    height: 100%;
    position: relative;
  }
  .contain-input-count i {
    display: none !important;
  }
  .contain-input-count span {
    display: block !important;
  }
  .number-calculation-price {
    color: #6a30a9;
  }
  .button-arrive-text {
    width: 300px;
    background: var(--color-blue-black-bg);
  }
  .contain-back-topage {
    font-size: 21px;
    justify-content: center;
    margin-left: 0;
  }
  .contain-remove-product {
    justify-self: self-end;
  }
}

@media only screen and (max-width: 639px) {
  .alert-product-situation {
    width: 80%;
    padding: 25px;
  }
  .contain-back-topage {
    font-size: 18px;
  }
  .alert-error-product {
    font-size: 19px;
  }
}

@media only screen and (max-width: 894px) {
  .contaian-text-discount {
    padding: 0.5rem 3.5rem;
  }

  .modal-discount-product {
    width: 280px !important;
    height: 350px;
  }
  .modal-circle-chance {
    width: 300px;
    height: 370px;
  }
  .contain-slice-chane {
    width: 200px;
    height: 200px;
  }
  .modal-slice-chane {
    border-left: 34px solid transparent;
    border-right: 67px solid transparent;
  }

  .modal-slice-chane::after {
    top: 40px;
    right: -117px;
    font-size: 12px;
  }
  .turn-down-chance,
  .modal-btn-discount {
    padding: 0.5rem 2rem;
    font-size: 14px;
  }
  .modal-circle-chance::before {
    border-bottom: 10px solid rgba(255, 255, 255, 0.841);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: var(--top-arrow-circle, 24px);
    left: 140px;
  }
  .turn-down-chance,
  .dont-turn-chance {
    padding: 0.5rem 1.7rem;
  }
  .show-discount-code {
    height: 11rem;
    padding: 1rem;
  }
  .text-show-code {
    font-size: 16px;
  }
  .copy-discount-code {
    
  }
}

@media only screen and (max-width: 1202px) {
  .container-all-products > div {
    grid-row: auto;
    grid-column: auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  .contain-product-particulars {
    padding: 2rem 0;
  }
  .contain-title-products {
    padding: 0.2rem 1rem;
  }
  .contain-image-product {
    
  }
}

@media only screen and (max-width: 1053px) {
  .contain-title-products {
    padding: 0.7rem;
    z-index: 11;
  }
  .contain-product-particulars,
  .contain-title-products {
    grid-column-gap: 1rem;
  }
}

@media only screen and (max-width: 590px) {
  .contain-product-particulars {
    grid-template-columns: repeat(5, 1fr) !important;
    grid-gap: 0;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 1rem;
  }
  .contain-remove-product {
    grid-column: -1;
  }
  .contain-input-count {
    grid-column: span 3;
  }
  .contain-price-product {
    grid-row: 2/3;
    grid-column: 5/6;
  }
  .contain-model-product {
    grid-column: 2/5;
  }
  .contain-products-info {
    margin: 2rem 5px;
  }
  .contain-calculation-products div {
    margin: 5px;
  }
}

@media only screen and (max-width: 700px) {
  .contain-icon-grades {
    display: none;
  }
  .contain-grades-buying::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 82%;
    top: 120%;
    background: var(--color-gray-less-opa);
  }
  .contain-text-grades {
    color: var(--color-blue-black-bg);
    font-size: 14px;
  }
  .contain-grades-buying::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 20%;
    top: 120%;
    background-color: var(--color-blue-black-bg);
    right: 9%;
  }

  .modal-discount-product {
    width: 300px !important;
    height: 300px;
  }
  .text-modal-discount {
    font-size: 14px;
  }
  .contain-replace-discount {
    width: 300px;
    
    
    align-items: flex-start;
  }
  .contain-button-arrive {
    gap: 2rem;
    flex-direction: column;
  }
}

@media only screen and (max-width: 420px) {
  .contain-grades-buying::before {
    display: none;
  }
  .contain-grades-buying::after {
    display: none;
  }
  .contain-grades-buying {
    flex-direction: column;
    gap: 2rem;
    margin: 0;
  }
  .contain-text-grades {
    font-size: 12px;
  }
  .box-grades-buying:nth-child(1) {
    background-color: #4d559f42;
    border-radius: 20px;
    padding: 0.4rem;
  }
}

@media only screen and (max-width: 470px) {
  .number-price {
    display: block;
  }
  .discount-price {
    left: 159px;
    top: 53px;
  }
  .animate-discount-price2::after {
    right: -68%;
    top: 124%;
  }
  .animate-discount-price2::before {
    bottom: -38%;
    left: 96%;
  }
  .animate-discount-price1::after {
    right: 4%;
    top: 73%;
  }
  .animate-discount-price1::before {
    left: 54%;
    top: 69%;
  }
}
