@import url("../../CMS-dayanShop/functions/css/font.css");
@import url("../functions/css/header.css");
@import url("../functions/css/footer.css");

html {
  overflow-x: hidden;
  overflow-y: var(--wait-load, scroll);
}

body {
  overflow-x: hidden;
  align-items: stretch !important;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

:root {
  --color-text-nav-light: #4444;
  --color-icon-light: #666;
  --color-white: #fff;
  --background-red: #ff5252d1;
}

* {
  font-family: "vazir";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.contain-image-header {
  position: relative;
  margin: 3rem 1rem;
}

.icon-right-board,
.icon-left-board {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  color: #767874;
  z-index: 111;
}

.icon-left-board {
  left: -9px;
}

.icon-right-board {
  right: -9px;
}

.image-shop-header {
  max-width: 98%;
  border-radius: 12px;
  position: inherit;
  transition: 0.3s;
}

.board-animate-next-before {
  right: 0px;
  opacity: 1;
  animation: board-next-before 0.4s 0.1s both ease-in;
}

@keyframes board-next-before {
  0% {
    opacity: 0.5;
    right: -50px;
  }
  100% {
    opacity: 0;
    right: -800px;
  }
}

.board-animate-next-after {
  right: 600px;
  opacity: 0;
  animation: board-next-after 0.4s 0.1s both ease-out;
}

@keyframes board-next-after {
  0% {
    opacity: 0;
    right: 450px;
  }
  30% {
    opacity: 0.2;
    right: 300px;
  }
  50% {
    opacity: 0.5;
    right: 150px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

.board-animate-previous-before {
  left: 0px;
  opacity: 1;
  animation: board-previous-before 0.4s 0.1s both ease-in;
}

@keyframes board-previous-before {
  0% {
    opacity: 0.5;
    left: -50px;
  }
  100% {
    opacity: 0;
    left: -800px;
  }
}

.board-animate-previous-after {
  left: 600px;
  opacity: 0;
  animation: board-previous-after 0.4s 0.1s both ease-out;
}

@keyframes board-previous-after {
  0% {
    opacity: 0;
    left: 450px;
  }
  30% {
    opacity: 0.2;
    left: 300px;
  }
  50% {
    opacity: 0.5;
    left: 150px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.box-icon-image {
  position: absolute;
  right: 1%;
  height: 100%;
  gap: 5%;
  right: 0;
  width: 200px;
}

.icon-image-header {
  cursor: pointer;
  margin-left: 65%;
  width: 10px;
  height: 10px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  border-radius: 100%;
  z-index: 1111;
}

.select-image-header {
  background-color: #fd0707;
  transition: 1.5s;
}

.services-shop-header {
  display: flex !important;
  justify-content: center;
}

.contain-service-header {
  cursor: default;
  border: 1px solid #e0e0e0;
  flex-basis: 290px;
  padding: 0.8rem;
  margin: 1rem;
  border-radius: 8px;
}

.icon-service-header {
  position: relative;
  color: var(--background-red);
  padding-left: 10px;
  font-size: 28px;
}

#icon-day-header::after {
  position: absolute;
  content: "3";
  right: 7px;
  font-size: 20px;
  color: #fff;
  top: 8px;
}

.text-service-header {
  font-size: 14px;
  color: #444;
  font-weight: 600;
}

#all-products-shop {
  width: 100%;
}

.contain-products-shop {
  padding: 4rem 0;
  width: 100%;
}

.products-product-shop {
  position: relative;
  overflow-x: hidden;
  margin: 0 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #999;
}

.products-title-shop {
  position: relative;
  justify-content: space-between;
}

.products-title-shop::after {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 54px;
  content: "";
  border: 1px solid #e3dcdc;
}

.title-products-name {
  position: relative;
  padding: 10px 12px;
}

.title-products-name::after {
  position: absolute;
  width: 83%;
  top: 54px;
  content: "";
  border: 1px solid #888;
  z-index: 1;
}

.text-name-products {
}

.icon-name-products {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 22px;
  height: 31px;
  margin-right: 0.8rem;
}

.arrow-products-shop {
  cursor: pointer;
  margin-left: 13px;
  margin-top: 15px;
}

.left-slide-products,
.right-slide-products {
  cursor: pointer;
  color: #000;
  font-size: 20px;
}

.right-slide-products {
  padding-left: 5px;
}

.contain-box-products {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  padding: 1rem;
}

.product-box-shop {
  cursor: pointer;
  justify-content: flex-start;
  padding: 2rem;
  flex-basis: 260px;
  transition: 0.3s;
}

.contain-products-animate {
  animation: var(--product-animate, "");
}

@keyframes add-animate-product {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes next-product-animate {
  0% {
    left: 0;
  }
  100% {
    left: var(--move-container-product, 260px);
  }
}

@keyframes previous-product-animate {
  0% {
    right: 0;
  }
  100% {
    right: var(--move-container-product, 260px);
  }
}

.product-box-shop:hover div {
  transform: scale(1.05);
}

.contain-image-product {
  height: 270px;
  transition: 0.3s;
}

.image-product-shop {
  height: 100%;
}

.contain-info-product {
  margin-top: 1rem;
  text-align: center;
  height: 80px;
  justify-content: space-between;
}

.name-model-product {
  color: #616161;
}

.price-product-shop {
  color: #444;
}

.preloader-change-page {
  height: 100%;
  width: 170px;
  z-index: 2;
}

.fake-background-load {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #292f34a3;
}

.contain-pre-loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 111;
}

.alert-product-situation {
  display: var(--alert-product-situation, none);
  background-color: #ef308052;
  width: 63%;
  padding: 53px;
  margin: 6rem auto;
  /* height: 150px; */
  border: 2px solid #dd5bbbe0;
  border-radius: 11px;
}

.alert-error-product {
  color: #af3a55d9;
  font-size: 22px;
}

.text-back-topage {
  order: -1;
}

.contain-back-topage {
  cursor: pointer;
  gap: 1rem;
  color: var(--color-icon-light);
  justify-content: flex-end;
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 21px;
}

@media only screen and (max-width: 1140px) {
  .product-box-shop:nth-child(5) {
    display: none;
  }
}

@media only screen and (max-width: 925px) {
  .product-box-shop:nth-child(4),
  .product-box-shop:nth-child(3),
  .product-box-shop:nth-child(2) {
    display: none;
  }

  .price-product-shop,
  .title-finally-menu {
    font-size: 16px !important;
  }
  .contain-image-product {
    height: auto;
  }
}

@media only screen and (max-width: 810px) {
  .icon-image-header {
    width: 7px;
    height: 7px;
    margin-left: 75%;
  }
}

@media only screen and (max-width: 639px) {
  .icon-image-header {
    width: 5px;
    height: 5px;
    margin-left: 80%;
  }
  .alert-product-situation {
    width: 80%;
    padding: 25px;
  }
  .alert-error-product {
    font-size: 19px;
  }
  .contain-back-topage {
    margin-left: 0;
    justify-content: center;
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .image-shop-header {
    height: 95px;
  }
}

@media only screen and (max-width: 438px) {
  .preloader-change-page {
    width: 120px;
  }
}
